[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set=utf8

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
default-storage-engine=INNODB
character-set-server=utf8
collation-server=utf8_general_ci

user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
bind-address		= 192.168.85.123
key_buffer		= 384M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover         = BACKUP
max_connections        = 1000
max_connect_errors = 1000
open_files_limit = 65536
table_cache = 64
#thread_concurrency = 10
query_cache_type = 1
query_cache_limit = 1M
query_cache_size = 64M
general_log_file = /var/log/mysql/mysql.log
general_log = 1
slow-query-log = 1
log-error = /var/log/mysql/mysql_error.log
long_query_time = 1
#log-queries-not-using-indexes
#server-id = 1
#log_bin = /var/log/mysql/mysql-bin.log
log_bin = /var/log/mysql/mysql-bin.log
expire_logs_days = 30
max_binlog_size = 100M
#binlog_do_db = include_database_name
#binlog_ignore_db = include_database_name
# chroot = /var/lib/mysql/
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet = 1024M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition
prompt=\\u@\\d \\r:\\m:\\s>

[isamchk]
key_buffer = 384M
sort_buffer_size= 256M
read_buffer = 2M
write_buffer = 2M
[myisamchk]
key_buffer = 384M
sort_buffer_size= 256M
read_buffer = 2M
write_buffer = 2M
!includedir /etc/mysql/conf.d/
